<div class="container-fluid">

    <div class="row">
      <div class="col">
        <h1>Eventos</h1>
      </div>
      <div class="col right" style="margin-top: 1rem;">
    <button (click)="cerrarSesion()" class="btn btn-danger">Cerrar Sesión</button>
      </div>
    </div>
    
    <hr>
    
  <div class="row">
    <button class="btn btn-success p-3" (click)="agregar()">Agregar</button>

  </div>
  <div class="container " style="min-height: 100vh;">

    <div class="row">
      
        <div class="col-lg-4 p-3 center" *ngFor="let data of announcements">
            <div class="card" style="max-width: 25rem; min-width: 15rem;">
                <img src={{data.image}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{data.title}}</h5>
                  <p class="card-text">{{data.description}}</p>
                  <button (click)="actualizar(data)" class="btn btn-primary">Actualizar</button>
                  <button (click)="eliminar(data._id)" class="btn btn-danger" style="margin-left:1.5rem;">Eliminar</button>
                </div>
              </div>
        </div>
        
    </div>

  </div>



</div>

<app-modal-actualizar [data]="dataAnnouncement" *ngIf="switchModalAct"  class="modal_p"></app-modal-actualizar>
<app-modal-agregar *ngIf="switchModalAgr" class="modal_p"></app-modal-agregar>

